<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Moderno</title>
    <link rel="stylesheet" href="login.component.css">
    
</head>
<body>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form>
            <div class="mb-3">
                <input type="email" class="form-control" placeholder="Correo Electrónico" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-custom w-100">Ingresar</button>
            <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </form>
    </div>

    
</body>
</html>
