<!-- Fondo degradado -->
<div class="fixed inset-0 bg-gradient-to-br from-gray-900 via-purple-900 to-purple-800 z-0"></div>

<!-- Contenedor central -->
<div class="relative min-h-screen flex items-center justify-center px-4 z-10">
  <div class="bg-white rounded-3xl shadow-2xl p-10 w-full max-w-md space-y-6">

    <!-- Encabezado -->
    <div class="text-center">
      <h3 class="text-3xl font-bold text-gray-800">Iniciar sesión</h3>
      <p class="text-gray-500 text-sm mt-2">
        ¿No tienes una cuenta?
        <a href="/register" class="text-green-600 hover:underline font-medium">Regístrate</a>
      </p>
    </div>

    <!-- Formulario en Angular -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
      <input 
        class="w-full text-sm px-4 py-3 bg-gray-100 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-purple-500"
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
      <input 
        class="w-full text-sm px-4 py-3 bg-gray-100 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-purple-500"
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
	  <div class="text-right text-sm mt-1">
		<a href="/forgot-password" class="text-purple-600 hover:underline">¿Olvidaste tu contraseña?</a>
	  </div>
	  
      <button 
        type="submit" 
        class="w-full bg-purple-700 hover:bg-purple-800 text-white font-semibold py-3 rounded-xl transition duration-300">
        Iniciar sesión
      </button>
    </form>

    <!-- Separador -->
    <div class="flex items-center gap-2 text-gray-400 text-sm my-4">
      <hr class="flex-grow border-gray-300">
      <span>o continúa con</span>
      <hr class="flex-grow border-gray-300">
    </div>

    <!-- Botones sociales -->
    <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
      <button type="button" (click)="onClickGoogle()"
        class="flex items-center justify-center gap-2 border border-gray-300 py-3 rounded-xl hover:bg-gray-900 hover:text-white transition duration-300">
        <img src="https://www.svgrepo.com/download/243086/google.svg" class="w-5 h-5" />
        <span class="text-sm font-medium">Google</span>
      </button>

      <button type="button" (click)="onClickFacebook()"
        class="flex items-center justify-center gap-2 border border-gray-300 py-3 rounded-xl hover:bg-blue-600 hover:text-white transition duration-300">
        <img src="https://static.vecteezy.com/system/resources/previews/018/930/698/non_2x/facebook-logo-facebook-icon-transparent-free-png.png" class="w-6 h-6" />
        <span class="text-sm font-medium">Facebook</span>
      </button>
    </div>
  </div>
</div>
